body {
    height: 100vh;
}

.content-container {
    padding: 25px 25px;
    align-items: center;
    height: 82vh;
    background-color: #f1f1f1;
}

.bg-theme {
    height: 8vh;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to left, #ab83e0, #7658e3);

    .btn {
        background: #5e3ed5b5;
        border: none;
        font-size: 20px;
        font-weight: 500;
        box-shadow: 0 0 5px 2px #b29de1;
        background: linear-gradient(to left top, #8226fa, #8e7ad7);

        &:hover {
            transform: scale(1.1);
        }


        &:active {
            background: linear-gradient(to left top, #8226fa, #8e7ad7);
        }
    }
}

.ant-spin {
    max-height: 100vh !important;
}

.ant-spin-text {
    font-size: 20px !important;
    font-weight: 500;
    color: #555557;
}

.loader {
    align-items: center;
    display: flex;
    justify-content: center;

    .ant-spin-dot-item {
        background-color: #555557;
    }
}

.footer {
    background: linear-gradient(to bottom, #8b8989, #555557);
    height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 500;

    .desc {
        font-size: 17px;
    }
}

.default-container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, #a388c7, #7658e3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    width: 35%;
    border-radius: 10px;
    padding: 20px 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: flex-start;
    box-shadow: 0 0 3px 1px #dfcdeb;

    h2 {
        text-align: center;
        margin-bottom: 10%;
    }

    .form-page {
        display: flex;
        flex-direction: column;


        label {
            font-size: 18px;
            font-weight: 400;
        }

        .btn {
            align-self: flex-end;
            width: 100%;
            background: linear-gradient(#ab83e0, #7658e3);
            border: none;
        }

        .form-check-input {
            padding: 10px;
            margin-right: 10px;
        }

        .link {
            text-align: center;
        }
    }
}

.ant-btn-primary,
.btn {
    background: linear-gradient(to left, #ab83e0, #7658e3);
    border: none;
}

.ant-btn-default {
    &:hover {
        border-color: #d9d9d9 !important;
        color: #000000e0 !important;
    }
}

.ant-modal-title {
    font-size: 20px !important;
}

.ant-modal-body {
    font-size: 18px !important;
}

.blog-container {
    background-color: white;
    width: 45%;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 0 25% 0 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 0 8px 2px #888;


    h2 {
        text-align: center;
    }

    .form-page {
        display: flex;
        flex-direction: column;
        gap: 5%;

        label {
            font-size: 18px;
            font-weight: 400;
        }

        .btn {
            background: linear-gradient(to left, #ab83e0, #7658e3);
            border: none;
        }

        .form-check-input {
            padding: 10px;
            margin-right: 10px;
        }

        .link {
            text-align: center;
        }
    }
}

.all-blogs-container {

    .sider {
        top: 40%;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 40px;
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: #4c4a4a;

        &:hover {
            transform: scale(1.25);
            box-shadow: 0 0 8px 2px #888;
        }

        &:active {
            background-color: #302d2d;
        }
    }

    .blogs-container {
        background-color: white;
        width: 50%;
        border-radius: 10px;
        padding: 20px 30px;
        margin: 0 25% 0 25%;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: 0 0 8px 2px #888;

        .blog-content {
            padding: 20px 25px;
            height: 100%;
            display: flex;
            flex-direction: column;

            h3 {
                text-align: center;
                padding: 10px 20px;
            }

            p {
                font-size: large;
                text-align: justify;
                text-justify: inter-word;

            }

            .page {
                left: 60vh;
                bottom: 18vh;
                position: fixed;
                font-weight: 500;
            }

            span {
                align-self: flex-end;
                padding: 10px 20px;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}

.disable-btn {
    background-color: #a0a0a0 !important;
    transform: none !important;
    box-shadow: none !important;
    border: none;
}