.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: flex-start;
  box-shadow: 0 0 3px 1px #dfcdeb;

  h2 {
    text-align: center;
    margin-bottom: 10%;
  }

  .form-page {
    display: flex;
    flex-direction: column;

    label {
      font-size: 18px;
      font-weight: 400;
    }

    .btn {
      align-self: flex-end;
      width: 100%;
      background: linear-gradient(#ab83e0, #7658e3);
      border: none;
    }

    .form-check-input {
      padding: 10px;
      margin-right: 10px;
    }

    .link {
      text-align: center;
    }
  }
}

.profile-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;

  .profile-container {
    background-color: white;
    gap: 10px;
    width: 75%;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 20px 0;
    display: flex;
    min-height: 80vh;
    box-shadow: 0 0 8px 2px #888;

    .profile-name-container {
      display: flex;
      width: 30%;
      align-items: center;
      padding-top: 50px;
      gap: 20px;
      flex-direction: column;

      .profile {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .total-blogs-container {
        padding: 10px 20px;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #777677;
        gap: 5px;
        font-weight: 500;
        color: #fff;
        background-color: #9773e2;
        box-shadow: 0px 0 0px 2px #9773e2;
      }
    }
    .edit-profile-btn {
      cursor: pointer;
      float: right;
      padding: 5px 10px;
      border-radius: 10px;
      align-items: center;
      display: flex;
      gap: 7px;
      color: white !important;
      background-color: #9773e2;
      border: 2px solid #9773e2;
    }
  }
}

@media only screen and (max-width: 670px) {
  .form-container {
    margin: 5%;
  }

  .profile-container {
    flex-direction: column;
    gap: 25px;

    .profile-name-container {
      // flex-direction: row !important;
      width: 100% !important;
      padding-top: 20px !important;
      gap: 0px !important;

      .profile {
        display: flex;
        gap: 20px;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
      }

      .total-blogs-container {
        margin: 20px 0;
        flex-direction: row !important;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    .user-profile-form {
      width: 100% !important;

      .profile-details-container {
        margin: 20px !important;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .profile-details-container {
    margin: 25px !important;
  }
}
